*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
   width: 100%;
    height: 100%;
}
.main{
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{

     background-color: aquamarine;
    font-size: 1rem;
    border-radius: 6px;
    padding: 8px 14px;
    margin: 5px;
}
.container{
    background-color: rgb(195, 255, 237);
    width: 80%;
    height: 85vh;          
    max-width: 1000px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
.up{
     background-color: rgb(29, 160, 123);
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 10px;
    flex-wrap: wrap;
}
.box{
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding: 10px 20px;
}
.ele{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.down{
         flex: 1;             
    width: 100%;
    background-color: rgb(195, 255, 237);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    padding: 12px;
    gap: 10px;
        
}
.bubble{
     display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: rgb(29, 160, 123);
    border-radius: 50%;
    
    color: white;
    font-weight: 700;
    cursor: pointer; 
   
}
@media (max-width: 600px) {
.up{
    flex-direction: row;
    gap: 2px;
    padding: 2px;
}
    .container{
        width: 95%;
        height: 95vh;       
    }


    .bubble{
        width: 24px;
        height: 24px;
        font-size: 0.6rem;
    }

    .down{
        gap: 6px;
        padding: 6px;
    }
}
